@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url(../images/bg.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center; font-size:16px;
}
.agileinfo-dot {
     
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 1em 0 3.7em;
}
h1,h2,h3,h4,h5,h6{	
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.clearfix{
	clear:both;
}
/**** LOGIN_SIGNUP ******/
h1.wthree {
    text-transform: capitalize;
    font-size: 3em;
    width: 40%;
    color: #fff;
    margin: 1.2em 18em 1.5em;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* signup Form styles */
.container {
    margin: 1em 18em 1.7em 0;
}

.alert-danger
{
color:#FF0000; background:#FFFFFF;
}
h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    margin: 1em 0;
    position: absolute;
    top: -66px;
    left: 33%;
    border-radius: 10px;
    padding: 0.8em 1.5em;
    background: rgb(48, 48, 97);
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.book-form h3 {
    color: #fff!important;
}
.w3ls-icon {
    border: 1px solid #fff;
    margin-bottom: 2em;
}
.login-w3l {
    margin: 100px auto;
    padding: 1em 3em 2em;
    border: 7px #fff;
    border-style: ridge;
    background:#087ac2;
	position:relative;
}
.login-form {
    margin-top:2em;
}
.follow-grids-agileits-w3layouts {
    padding: 10px;
}
.bg-color-agile{
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(to bottom right, #1858e8, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom right, #1858e8, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom right, #1858e8, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #1858e8, #ffffff); /* Standard syntax (must be last) */
}
a.one-w3ls {
    background: #1858e8;
    margin-right: 10px;
}
.w3ls-icon i {
    color: #ffd571;
    font-size:22px; margin-left:10px;
}
.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"],.book-form input[type="text"],.book-form input[type="email"],.book-form input[type="password"] {
    width: 85.5%;
    padding: 1em  1em 1em 0.4em;
    border: none;
    outline: none;
	color: #fff;
    font-size:16px;
	letter-spacing: 1px;
	background:transparent;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
	 font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.modal-content {
    background:rgba(93, 125, 189, 0.3);
}
/*-- login --*/
.login-section {
    width: 30%;
   float:right; margin-top:160px;
}
input[type="submit"] {
    background:#fff;
    color: #000;
    font-size:16px;
    border: none;
    text-transform: capitalize;
    border: 2px solid transparent;
    width: 40%;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0.5em 0;
    margin-top: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.login-form input[type="submit"]:hover {
	background: #f9dc36;
	color:#000;
}
.modal-dialog {
    width: 380px;
    margin: 92px auto 0;
}
.modal-header {
    border-bottom: none;
    text-align: center;
    padding: 22px 12px 0;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    color: #90B8DD;
    text-shadow: 0 0px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
	/*-- w3layouts --*/
    opacity: 1;
}
.modal-header .close {
    margin-top: -15px;
}
.modal-header h3,.modal-header h2 {
    color: #ffffff;
    font-size:16px;
}
span.checkbox1 {
    float: left;
}

a.forgot {
    float: right;
    color: #fff;
    text-decoration: none;
    font-size:16px;
    letter-spacing: 0.8px;
}
label.checkbox {
    margin: 0;
}
.checkbox input[type="checkbox"]{
    margin-left: 0px;
}
.signin-rit .checkbox {
    position: relative;
    font-size:16px;
    font-weight: normal;
    color: #fff;
    padding: 0em 0.5em 0em 1.5em;
    margin: 0;
}
.signin-rit .checkbox input {
    position: absolute;
    left: 0px;
    margin-left: 0;
    top: 1px;
    /* vertical-align: baseline; */
}
.signin-rit {
    margin: 1.5em 0;
}
.login-form p {
    text-align: center;
    margin-top: 1em;
    font-size: 0.95em;
    letter-spacing: 1px;
    color: #fbfbfb;
    margin-top: 93px;
}
 /*-- agileits --*/ 
.login-form p a {
    color: #fff;
    text-decoration: none;
    outline: none;
}
h5.or {
    text-align: center;
    margin: 17px 0;
    color: #fff;
}

p.footer {
    text-align: center;
    color: #fff;
    font-size:16px;
    margin: 4em 0 0;
    letter-spacing: 1.5px;
}
p.footer a:hover {
    color: #000;
	text-decoration: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
p.footer a {
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
/*-- //login --*/

.modal-content.modal-info {
    border-radius: 0;
    border: none;
}

::-webkit-input-placeholder{
	color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}
/*--responsive--*/
@media(max-width:1920px){
	h1.wthree {
       width: 49%;
	}
	.agileinfo-dot {
       padding: 1em 0 10.8em;
	}
}
@media(max-width:1680px){
	.login-form p {
		margin-top: 46px;
	}
	.agileinfo-dot {
		padding: 1em 0 28.6em;
	}
	h1.wthree {
		width: 31%;
	}
}
@media(max-width:1600px){
	.login-form p {
		margin-top: 33px;
	}
	.agileinfo-dot {
		padding: 1em 0 17.2em;
	}
	h1.wthree {
		width: 25%;
	}
}
@media(max-width:1440px){
	.login-section {
		width: 30%;
	}
	p.footer {
		margin: 2em 0 0;
	}
	.agileinfo-dot {
		padding: 1em 0 2em;
	}
	.container {
		margin: 1em 10em 1.7em 0;
	}
	.signin-rit {
		margin: 1em 0;
	}
	input[type="submit"] {
		margin-top: 20px;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		margin: 0.9em 0;
	}
	
}
@media(max-width:1366px){
	.login-section {
		width: 36%;
	}
	.container {
		margin: 1em 5em 1.7em 0;
	}
}
@media(max-width:1280px){
	.login-section {
		width: 37%;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		margin: 0.7em 0;
	}
	.agileinfo-dot {
		padding: 2em 0 2em;
	}
	p.footer {
		margin: 2.6em 0 0;
	}
	h1.wthree {
		margin: 0.2em 17em 1.5em;
	}
	.container {
		margin: 1em 4em 1.7em 0;
	}
}
@media(max-width:1080px){
	.login-section {
		width: 44%;
	}
	h1.wthree {
		margin: 0.2em 13em 1.5em;
		width: 27%;
	}
}
@media(max-width:1050px){
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		margin: 0.63em 0;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 92%;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 83%;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
        font-size: 1.3em;
		top: -53px;
		padding: 0.8em 1.5em;
	}
}
@media(max-width:1024px){
	p.footer {
		margin: 3.5em 0 0;
	}
	h1.wthree {
		margin: 1em 12em 1.5em;
		width: 29%;
	}
	.agileinfo-dot {
		padding: 1em 0 2.37em;
	}
}
@media(max-width:991px){
	p.footer {
		margin: 2.19em 0 0;
		font-size: 13px;
	}
	.agileinfo-dot {
		padding: 1em 0 2.8em;
	}
	h1.wthree {
		margin: 1em 12em 1.5em;
		width: 33%;
		font-size: 2.5em;
	}
}
@media(max-width:900px){
	h1.wthree {
		margin: 1em 11em 1.5em;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 81.5%;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		top: -48px;
		left:32%;
	}
	p.footer {
		margin: 2.7em 0 0;
	}
	.agileinfo-dot {
		padding: 1em 0 1.9em;
	}
	.container {
		margin: 1em 3em 1.7em 0;
	}
}
@media(max-width:800px){
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 78.8%;
	}
	.login-w3l {
        padding: 1em 2em 2em;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		top: -48px;
		left: 32%;
	}
	#small-dialog, #small-dialog2 {
       max-width: 360px;
	}
}
@media(max-width:768px){
	.login-w3l {
		float: none;
		padding: 30px 37.5px;
		margin-bottom: 1em;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 90%;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		margin: .4em 0 0.5em;
		font-size: 20px;
	}
	.signin-rit {
		margin: 0.5em 0;
	}
	.login-form p {
		margin-top: 20px;
		font-size: 0.9em;
	}
	.agileinfo-dot {
		padding: 1em 0 2.2em;
	}
	.login-section {
		width: 54%;
		float: none;
		margin: 0 auto;
	}
	h1.wthree {
		width: 33%;
		margin: 1em auto 2em;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 79%;
	}
	
}
@media(max-width:736px){
}
@media(max-width:667px){
	.login-form {
		margin-top: 1em;
	}
	.mfp-close {
		left: -3px;
		top: -37px;
	}
	h1.wthree {
		width: 100%;
		margin: 1em auto 2em;
	}
	.login-section {
		width: 57%;
	}
}
@media(max-width:640px){
	.book-form input[type="text"], .book-form input[type="email"], .book-form input[type="password"] {
		width: 93%;
	}
}
@media(max-width:600px){
	.login-section {
		width: 63%;
	}
}
@media(max-width:568px){
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 80.3%;
	}
	p.footer {
		margin: 1.5em 0 0;
		padding: 0 25px;
		line-height: 28px;
	}
	.agileinfo-dot {
		padding: 1em 0 1.7em;
	}
	.login-w3l {
		width: 80%;
		padding: 30px 30px;
	}
	input[type="submit"] {
		font-size: 15px;
		letter-spacing: 1px;
	}
}
@media(max-width:480px){
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		font-size: 13px;
	}
	.signin-rit .checkbox {
		font-size: 12.5px;
	}
	a.forgot {
		font-size: 12.5px;
		margin-top: 5px;
	}
	.login-form p {
		font-size: 0.8em;
	}
	.login-section {
		width: 75%;
	}
	.signin-rit .checkbox input {
		top: 0px;
	}
	.my-mfp-zoom-in.mfp-ready #small-dialog {
		padding: 35px;
	}
	.book-form input[type="text"], .book-form input[type="email"], .book-form input[type="password"] {
		width: 90.5%;
	}
	.book-form input[type="text"], .book-form input[type="email"], .book-form input[type="password"] {
		font-size: 13px;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		top: -36px;
		left: 33%;
	    padding: 0.4em 1em;
	}
}
@media(max-width:414px){
	.login-section {
		width: 87%;
	}
}
@media(max-width:384px){
	h1.wthree {
		width: 100%;
		margin: 0.5em auto 1.2em;
	}
	h2.sub-head-w3-agileits, h3.sub-head-w3-agileits {
		font-size:16px;
	}
	input[type="submit"] {
		font-size: 13px;
	}
	.login-w3l {
		border-width: 4px;
	}
	.book-form input[type="text"], .book-form input[type="email"], .book-form input[type="password"] {
		width: 89.5%;
	}
	.login-w3l {
		width: 81%;
	}
	.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
		width: 70.3%;
	}
}
@media(max-width:375px){
	.book-form input[type="text"], .book-form input[type="email"], .book-form input[type="password"] {
		width: 89%;
	}
}
@media(max-width:320px){
	.login-section {
		width: 90%;
	}
	.login-w3l {
		width: 81.5%;
		padding: 22px 25px;
	}
	span.checkbox1 {
		float: none;
		display: block;
	}
	a.forgot {
		margin-top: 13px;
		float: none;
		display: block;
	}
	.signin-rit {
		margin: 0em 0;
	}
	a.one-w3ls {
		margin-right: 6px;
	} 
}
/*--responsive--*/